.inputContainer {
    margin-top: 20px;
    display: flex;
    padding: 10px;
}
.inputTags {
    margin: 10px;
}
.inputTags input {
    margin-top: 10px;
    padding: 8px;
    outline: #565656;
    font-weight: bold;
}
.errorMessage {
    margin: 10px;
    margin-left: 20px;
    color: red;
    font-weight: bold;
}
.searchButtonBox button {
    margin-left: 20px;
    text-align: center;
    background-color: #565656;
    color: white;
    padding: 7px 70px;
    font-size: large;
}