.navbar {
    display: flex;
    background-color: #000000;
}
.headingMain {
    margin-top: 30px;
    margin-left: 20px;
}
.navbarTab {
    cursor: pointer;
    /* background-color: #DF4B35; */
    color: white;
    padding: 10px 15px;
    margin-right: 5px;
}

.navbarTab.active {
    background-color: #DF4B35;
    color: white;
}
